<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Weatherly</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Weatherly.styles.css" asp-append-version="true" />
    <style>
        .hide-message {
            opacity: 0;
            visibility: hidden;
            transition: opacity 2s ease, visibility 2s;
        }
    </style>
</head>
<body>
    <div id="full-screen-message">
        <img src="~/img/1-no-bg.png" alt="Logo" class="logo">
    </div>

    <header>
        <img src="~/img/1-no-bg.png" alt="Logo" class="logo">
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        const isMessageShown = document.cookie.includes('fullScreenMessageShown');
        const fullScreenMessage = document.getElementById('full-screen-message');
        function hideFullScreenMessage() {
            fullScreenMessage.style.display = 'none';
        }
        window.addEventListener('load', function () {
            if (!isMessageShown) {
                fullScreenMessage.style.display = 'block';
                setTimeout(hideFullScreenMessage, 4000);
                document.cookie = 'fullScreenMessageShown=true; expires=Fri, 31 Dec 9999 23:59:59 GMT';
            } else {
                fullScreenMessage.style.display = 'none';
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
